{% load active_link_tags %}
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  {% if user.user_type == '1' %}
                  <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>

                     <li>
                        <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> Dashboard<span></span></a>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_student' %}">Student Add</a></li>
                           <li><a href="{% url 'view_student' %}">Student View</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
                           <li><a href="{% url 'view_staff' %}">View Staff</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fa fa-graduation-cap" ></i> <span>Course</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_course' %}">Add Course</a></li>
                           <li><a href="{% url 'view_course' %}">View Course</a></li>
                        </ul>
                     </li>
                     <li class="submenu">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                        <ul>
                           <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                           <li><a href="{% url 'view_subject' %}">View subject</a></li>
                        </ul>
                     </li>
                       <li>
                        <a href="{% url 'staff_send_notification' %}"><i class="fa fa-calendar"></i> Send Staff Notification<span></span></a>
                     </li>
                      <li>
                        <a href="fees.html"><i class="fa fa-calendar"></i> View Attendance<span></span></a>
                     </li>
                     <li>
                        <a href="{% url 'staff_leave_view' %}"><i class="fas fa-comments"></i> Staff Leave<span></span></a>
                     </li>
                     <li>
                        <a href="fees.html"><i class="fas fa-comments"></i> Student Leave<span></span></a>
                     </li>
                     <li>
                        <a href= "{% url 'doLogout' %}"><i class="fas fa-sign-out-alt"></i> Logout<span></span></a>
                     </li>
                  </ul>
                  {% elif user.user_type == '2' %}
                   <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>

                     <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> Dashboard<span></span></a>
                     </li>
                      <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i> Take Attendance<span></span></a>
                     </li>
                      <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'hod_home' %}"><i class="fas fa-calendar-alt"></i> View/Update Attendance<span></span></a>
                     </li>
                       <li class="{% active_link 'hod_home' 'active' %}"       >
                        <a href="{% url 'hod_home' %}"><i class="fas fa-poll-h"></i> Add Result<span></span></a>
                     </li>
                      <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i> Apply for Leave<span></span></a>
                      </li>
                      <li><i class=""></i>
                         <a href= "{% url 'doLogout' %}"><i class="fas fa-sign-out-alt"></i><span> Logout</span></a>

                     </li>

                   </ul>


                   {% else %}
                   <ul>
                     <li class="menu-title">
                        <span>Main Menu</span>
                     </li>

                     <li class="{% active_link 'student_home' 'active' %}">
                        <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> Dashboard<span></span></a>
                     </li>

                   </ul>
                  {% endif %}


               </div>
            </div>
         </div>